nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    line-height: 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-block: 8px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 4px;
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
}